# --- common values
JWT_SECRET=<mySecret>
AUTHSCH_CLIENT_ID=<authSchClientId>
AUTHSCH_CLIENT_SECRET=<authSchClientSecret>
MAIL_SERVER_URL=<mailServer>
MAIL_API_KEY=<apikey>

# --- development example values
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/konzisite?schema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=konzisite
MAIL_TEMPLATE_ROOT=src/mailing/templates/
NODE_ENV=development
FRONTEND_HOST=http://localhost:3000
FRONTEND_AUTHORIZED_URL=http://localhost:3000/authorized
BACKEND_PORT=3300
DOCKER_RESTART_POLICY=no

# # --- production/docker example values
# DATABASE_URL=postgresql://postgres:postgres@db:5432/konzisite?schema=public
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=konzisite
# MAIL_TEMPLATE_ROOT=dist/mailing/templates/
# NODE_ENV=production
# FRONTEND_HOST=http://localhost:3000
# FRONTEND_AUTHORIZED_URL=http://localhost:3000/authorized
# BACKEND_PORT=3300
# DB_PORT=10123
# DOCKER_RESTART_POLICY=always
