# example for locally run instance: postgresql://postgres:postgres@localhost:5432/konzisite?schema=public
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database_name>?schema=<schema_name>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>

JWT_SECRET=<mySecret>
AUTHSCH_CLIENT_ID=<authSchClientId>
AUTHSCH_CLIENT_SECRET=<authSchClientSecret>

BACKEND_PORT=3300

FRONTEND_HOST=http://localhost:3000
FRONTEND_AUTHORIZED_URL=http://localhost:3000/authorized
